<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/StyleAdmin.css" rel="stylesheet" />
</head>
<body style="margin-top:0px;" class="d-flex">
    <nav class="navbar navbar-default" style="width: 300px; height:100vh;">
        <div class="container-fluid flex-column">
            <div class="navbar-header d-flex justify-content-center" style="width:100%;">
                <a class="navbar-brand" href="#">Quản Lý Ký Túc Xá</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav flex-column">
                    <li class="menu-item">
                        @Html.ActionLink("Sinh viên", "Index", "sinh_vien_62133178", "", new { @class = "a" })
                        <ul class=" submenu">
                            <li>@Html.ActionLink("Thêm mới", "Create", "sinh_vien_62133178", "", new { @class = "a" })</li>
                            <li>@Html.ActionLink("Tìm kiếm", "TimKiemNC", "sinh_vien_62133178", "", new { @class = "a" })</li>
                            <li>@Html.ActionLink("In danh sách", "PrintList", "sinh_vien_62133178", "", new { @class = "a" })</li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        @Html.ActionLink("Phòng", "Index", "Phongs_62133178", "", new { @class = "a" })
                        <ul class="submenu">
                            <li>@Html.ActionLink("Thêm mới", "Create", "Phongs_62133178", "", new { @class = "a" })</li>
                            <li>@Html.ActionLink("Tìm kiếm", "TimKiem", "Phongs_62133178", "", new { @class = "a" })</li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        @Html.ActionLink("Phiếu đặt phòng", "Index", "phieu_dat_phong_62133178", "", new { @class = "a" })
                        <ul class="submenu">
                            <li>@Html.ActionLink("Thêm mới", "Create", "phieu_dat_phong_62133178", "", new { @class = "a" })</li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        @Html.ActionLink("Dịch vụ", "Index", "dich_vu_62133178", "", new { @class = "a" })
                        <ul class="submenu">
                            <li>@Html.ActionLink("Thêm mới", "Create", "dich_vu_62133178", "", new { @class = "a" })</li>

                        </ul>
                    </li>
                    <li class="menu-item">
                        @Html.ActionLink("Dịch vụ phòng", "Index", "dich_vu_phong1_62133178", "", new { @class = "a" })
                        <ul class="submenu">
                            <li>@Html.ActionLink("Thêm mới", "Create", "dich_vu_phong1_62133178", "", new { @class = "a" })</li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        @Html.ActionLink("Hóa đơn dịch vụ", "CalculateServiceCost", "dich_vu_phong_62133178", "", new { @class = "a" })
                        
                    </li>
                </ul>
                <ul class="nav d-flex">
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="content">
        @RenderBody()
    </div>
</body>
</html>
