@model IEnumerable<DoAnWeb.Models.Phong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "ma_phong", rowsPerPage: 8);
    @Scripts.Render("~/Scripts/jquery-1.6.2.min.js")
}

<html>
<head>
    <style type="text/css">
        .grid-footer {
            color: #000;
            font: 17px Calibri;
            text-align: center;
            font-weight: bold;
        }

            .grid-footer a {
                background-color: #ffffff;
                color: blue;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                padding: 1px 10px 2px 10px;
            }

                .grid-footer a:active, a:hover {
                    background-color: #ffffff;
                    color: #FFAD33;
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                }

        .alternatingRowStyle {
            background-color: aliceblue;
        }

        table .table1 {
            text-align: left;
            margin-left: 0px;
            margin-right: 0px;
            width: 800px;
        }

        .tr, .td {
            text-align: left;
        }
    </style>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "PhongUser_62133178", FormMethod.Get))
        {
            @Html.AntiForgeryToken()
            <table class="table1" align="center">
                <tr>
                    <td>Mã phòng</td>
                    <td>
                        <input type="text" name="maPhong" value="@ViewBag.maPhong" style="margin-left: 5px; margin-top: 5px;" />
                    </td>

                </tr>
                <tr>
                    <td>Tên phòng</td>
                    <td>
                        <input type="text" name="tenPhong" value="@ViewBag.tenPhong" style="margin-left: 5px; margin-top: 5px;" />
                    </td>

                </tr>

                <tr>
                    <td>Giá từ </td>
                    <td>
                        <input type="text" name="giaMin" value="@ViewBag.giaMin" style="margin-left: 5px; margin-top: 5px;" />
                        Đến <input type="text" name="giaMax" value="@ViewBag.giaMax" style="margin-left: 5px; margin-top: 5px;" />
                    </td>

                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="submit" value="Tìm kiếm" style="margin: 5px; width: 100px;
         background-color: blue; color: white" />
                        <input type="button" name="Nhapmoi" value="Nhập mới" style="margin: 5px; width: 100px;
         background-color: blue; color: white" onclick="location.href='@Url.Action("Index", "PhongUser_62133178/Index")'" />

                    </td>
                </tr>
            </table>
        }
    </div>
    <div><h3 style="text-align: center">DANH SÁCH PHÒNG</h3></div>
    <div id="gridContent">
        @ViewBag.TB
        @grid.GetHtml(
            tableStyle: "table table-bordered table-hover",
            footerStyle: "grid-footer",
            fillEmptyRows: true,
            mode: WebGridPagerModes.Numeric,
            alternatingRowStyle: "alternatingRowStyle",
              columns: new[]  // colums in grid
             {
                  grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
                  grid.Column("ma_phong","Mã phòng"), //the model fields to display
                  grid.Column("ten_phong","Tên phòng"),
                  grid.Column("so_giuong","Số giường"),
                  grid.Column("loai_phong","Loại phòng"),
                  grid.Column("gia_phong","Giá phòng",format:@<text> @item.gia_phong.ToString("#,##0")</text>),
}
)
    </div>
</body>
</html>